/* Fonts from https://www.cufonfonts.com/font/day-roman */
@font-face {
  font-family: "Day Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Day Roman"), url("./fonts/DAYROM__.woff") format("woff");
}

@font-face {
  font-family: "Day Roman - Expert";
  font-style: normal;
  font-weight: normal;
  src: local("Day Roman - Expert"), url("./fonts/DAYROM_X.woff") format("woff");
}

/* Setting up page defaults to eliminate unexpected formatting behaviour */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Default body styling */
body {
  font-family: "Dubai", sans-serif;
  color: black;
  width: 100%;
  background-color: #e6e6e6;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body {
  position: relative;
  z-index: 1;
  top: 10vh;
  max-width: 1366px;
}

/* Expanded header logo styling */
.logo {
  height: 10vh;
  width: auto;
}

p,
h1,
h2,
h3 {
  margin: 10px;
}

.collapsed-logo {
  position: absolute;
  top: 0;
  display: none;
  max-height: 10%;
}

/* Expanded header nav styling */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  width: 100%;
  font-family: "Day Roman", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  font-size: 1.5rem;
  z-index: 100;
}

.nav-links,
li,
a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-weight: 500;
  color: black;
  width: 100%;
}

.nav-links li a {
  height: 50%;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.burger {
  display: none;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    background-color: white;
    position: absolute;
    left: 100%;
    height: 90vh;
    top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    display: none;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .expanded-logo {
    display: none;
  }
  .collapsed-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: block;
  }
  .nav-links li {
    opacity: 0;
  }
}

@media screen and (max-width: 768) {
  .logo {
    max-width: 100%;
    height: auto;
  }
}

.nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* Burger menu animation */
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
  width: 100%;
  height: auto;
}

.hero-images {
  width: 100%;
}

.hero-image-lrg {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-image-sml {
  display: block;
  max-width: 100%;
  height: auto;
}

.default-hero-img {
  display: block;
  max-width: 100%;
}

/* Section headings styling */
.sectionHeading {
  font-family: "Day Roman", serif;
  padding: 10px;
}

.about {
  background-color: white;
  position: relative;
}

.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.leftSection {
  width: 50%;
}

.rightSection {
  padding: 10px;
  width: 50%;
}

.flexImage {
  max-width: 100%;
  height: auto;
}

.parallax {
  position: relative;
  height: 40vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("/images/parallax-1.png");
}

#parallax2 {
  background-image: url("/images/parallax-2.png");
}

#parallax3 {
  background-image: url("/images/parallax-3.png");
}

#parallax4 {
  background-image: url("/images/parallax-4.png");
}
/*# sourceMappingURL=styles.css.map */